<!-- About Section -->
<section
class="w-full flex items-center mr-auto ml-auto justify-center flex-col bg-cover bg-center py-10 lg:py-12 bg-sec/10 text-black bg-[--lightGrey]">
<article
    class="w-10/12 lg:w-9/12 max-w-screen-2xl flex items-center justify-center flex-col bg-cover bg-center text-center ">
    <!-- Article Title -->
    <div class="flex w-full justify-center items-center flex-col">
        <h2 class="text-3xl uppercase lg:text-3xl font-extrabold  text-center md:text-left text-black">{{ .Params.heading }}</h2>
        <div class="w-24 h-2 mt-7 mb-3 bg-black"></div>
    </div>
    <!-- /Article Title -->
    <!-- Article Content -->
    <div class="my-4 text-lef">
        <h3 class="text-3xl font-extrabold lg:text-3xl text-left w-9/12 text-black">
            <p>{{ .Params.title_1 }}</p>
        </h3>
        <div class="mt-3 text-black text-left">
            <p>{{ $customTags := $.Site.Data.data.custom_tag }}
                {{ .Params.text_1 | markdownify }}
        </div>
    </div>
    <div class="my-4 text-lef">
        <h3 class="text-3xl font-extrabold lg:text-3xl text-left w-9/12 text-black">
            <p>{{ .Params.title_2 }}</p>
        </h3>
        <div class="mt-3 text-black text-left">
            <p>
                {{ $customTags := $.Site.Data.data.custom_tag }}
                {{ .Params.text_2 | markdownify }}
            </p>
        </div>
    </div>
    <!-- /Article Content -->
</article>
</section>
<!-- /About Section -->

<!-- Features Section -->
<section
class="w-full flex items-center mr-auto ml-auto justify-center flex-col bg-cover bg-center py-12 lg:py-16 bg-white">
<div
    class="w-10/12 lg:w-9/12 max-w-screen-2xl flex items-center justify-center flex-col bg-cover bg-center lg:text-lg">
    <!-- Call Button -->
    <div class="flex mb-5 lg:mb-10 justify-center w-full">
        <a title="Click to call us"
            class="btnPrimary bg-pri flex w-fit items-center gap-3 rounded-full py-3 px-5 text-center lg:px-7 cursor-pointer bg-[--primaryColor] text-white"
            href="tel:(214) 774-0277">
            <span class="undefined">
                <span class=""></span>
                <span class=""></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    aria-hidden="true" class="h-7 lg:h-9">
                    <path fill-rule="evenodd"
                        d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class=""></span>
            </span>
            <span>
                <p class="font-semibold uppercase undefined">{{ .Site.Data.data.common_data.call_btn_title }}</p>
                <p class="-mt-1 text-3xl font-bold undefined">{{ .Site.Data.data.common_data.phone }}</p>
            </span>
        </a>
    </div>
    <!-- /Call Button -->
    <article>
        <div class="my-2 lg:my-4">
            <h3 class="text-xl lg:text-3xl text-black font-extrabold  text-left w-9/12">
                <div class="text-left">
                    <p>{{ .Params.title_3 }}</p>
                </div>
            </h3>
            <div class="mt-2 lg:mt-3 text-gray-700 text-left ">
                <p>
                    {{ $customTags := $.Site.Data.data.custom_tag }}
                    {{ .Params.text_3 | markdownify }}
                </p>
            </div>
        </div>
        <div class="my-2 lg:my-4">
            <h3 class="text-xl lg:text-3xl text-black font-extrabold  text-left w-9/12">
                <div class="text-left">
                    <p>{{ .Params.title_4 }}</p>
                </div>
            </h3>
            <div class="mt-2 lg:mt-3 text-gray-700 text-left ">
                <p>
                    {{ $customTags := $.Site.Data.data.custom_tag }}
                    {{ .Params.text_4 | markdownify }}
                </p>
            </div>
        </div>
    </article>
</div>
</section>
<!-- /Features Section -->