<!-- Breadcrumbs -->
<div
class="w-full pt-24 flex items-center mr-auto ml-auto justify-center flex-col bg-cover bg-center undefined">
<div class="flex items-center space-x-5 py-3 bg-sec/10 w-full justify-center bg-[--lightGrey]">
    <div class="flex justify-between">
        <a class="flex items-center hover:text-pri border-transparent border-b-2 hover:border-pri text-sec transition-all text-[--darkGrey]"
            href="/">Home <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-3">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"></path>
            </svg>
        </a>
    </div>
    <div class="flex justify-between">
        <div
            class="flex items-center border-transparent border-b-2 font-bold cursor-not-allowed text-[--primaryColor]">
            {{ .Title }}</div>
    </div>
</div>
</div>
<!-- /Breadcrumbs -->