<!-- Services Section -->
<section
class="w-full flex items-center mr-auto ml-auto justify-center flex-col bg-cover bg-center bg-white py-16 lg:py-20 text-white">
<div
    class="w-10/12 lg:w-9/12 max-w-screen-2xl flex items-center justify-center flex-col bg-cover bg-center lg:text-lg">
    <h2 class="text-3xl font-extrabold text-center uppercase lg:text-3xl text-black">
        <div class="text-left">
            <p>{{ .Site.Data.data.common_data.service_header }}</p>
        </div>
    </h2>
    <div class="w-24 h-2 mt-7 mb-3 bg-black"></div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-2 mt-5 w-full">
        {{ $zipCode := .Params.zipcode }}
        {{ range .Site.Data.data.common_data.service_list }}
            <a class="shadow-pri shadow- bg-pri py-3 px-1 rounded border border-white/40 lg:text-sm text-center hover:text-black bg-[--primaryColor] hover:shadow-lg hover:bg-white  transition-all cursor-pointer"
                href="{{- printf "%s-tx%s" (relURL .service_name | urlize) ($zipCode | urlize) }}">
                <p>{{ .service_name }} </p>
            </a>
        {{ end }}
    </div>
</div>
</section>
<!-- /Services Section -->