 <!-- Our Goals -->
 <section class="w-full flex items-center mr-auto ml-auto justify-center flex-col bg-cover bg-center bg-white">
    <div
        class="w-10/12 lg:w-9/12 max-w-screen-2xl flex items-center justify-center flex-col bg-cover bg-center py-16 lg:py-20 text-center">
        <a title="Click to call us"
            class="btnPrimary bg-[--primaryColor] flex w-fit items-center gap-3 rounded-full py-3 px-5 text-center lg:px-7 cursor-pointer text-white"
            href="tel:(214) 774-0277">
            <span class="undefined">
                <span class="undefined"></span>
                <span class="undefined"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    aria-hidden="true" class="h-7 lg:h-9 undefined">
                    <path fill-rule="evenodd"
                        d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class=""></span>
            </span>
            <span>
                <p class="font-semibold uppercase ">{{ .Site.Data.data.common_data.call_btn_title }}</p>
                <p class="-mt-1 text-3xl font-bold ">{{ .Site.Data.data.common_data.phone }}</p>
            </span>
        </a>
        <h2 class="text-3xl font-extrabold text-black mt-10 px-10 uppercase lg:text-3xl ">24
            {{ .Site.Data.data.common_data.slogan_1 }}</h2>
        <div class="w-24 h-2 mt-7 mb-3 bg-black"></div>
        <div class="w-full grid lg:grid-cols-3 gap-5 mt-5">


            {{ range $key, $value := .Site.Data.data.common_data }}
                {{ if (strings.HasPrefix $key "workflow_title_") }}
                    <div class="text-center bg-sec/10 p-7 rounded-lg" style="background-color:#f2f3f5">
                        <h2 class="text-xl mb-2 text-black font-bold">
                            <div class="text-left">
                                {{ if (strings.HasPrefix $key "workflow_title_") }}
                                    <p>{{ $value }}</p>
                                {{ end }}
                            </div>
                        </h2>
                        <div class="text-left">
                            <p>
                                {{ $workflowTextKey := replace $key "workflow_title_" "workflow_text_" }}
                                {{ $sentence := index $.Site.Data.data.common_data $workflowTextKey }}
                                {{ $customTags := $.Site.Data.data.custom_tag }}
                                 {{ partial "replace_placeholders.html" (dict "text" $sentence "customTags" $customTags) }}
                                
                            </p>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<!-- /Our Goals -->